.container{
 padding:400px;
    width: 400px;
}
.body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-items: center;
}
#heading{
    
}