body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.container {
    border: 2px solid rgb(174, 147, 147);
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding: 20px;
    margin: 40px;

}
.card{
    background-color:aliceblue;
    border: 2px solid hotpink;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 9px;
    margin: 8px;
    width: 220px;
}